@font-face {
  font-family: "Helvetica Now Display";
  src: url("../assets/fonts/HelveticaNowDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Bold */
@font-face {
  font-family: "Helvetica Now Display";
  src: url("../assets/fonts/HelveticaNowDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Helvetica Now Display", sans-serif;
  box-sizing: border-box;
}
@import "tailwindcss";

@theme {
  /* Colors */
  --color-textColor: #464646;
  --color-bgColor: #f7f6f6;
  --color-yellow: #ffcf70;
  --color-profileColor1: #1e1e1e;
  --color-white: #ffffff;
  --color-lightGray: #898989;
  --color-veryLightGray: #dbdbdb;
  --color-searchBox: #f1f1f1;
  /* Gap */
  --gap-xxxs: 2px;
  --gap-xxs: 5px;
  --gap-xs: 10px;
  --gap-s: 15px;
  --gap-m: 30px;
  /* Padding */
  --padding-xxxs: 2px;
  --padding-xxs: 5px;
  --padding-xs: 10px;
  --padding-s: 15px;
  --padding-m: 30px;
  /* Corner radius */
  --radius-small: 25px;
  --radius-medium: 45px;
}

@layer components {
  .text-xs {
    /* Font family */
    font-family: "Helvetica Now Display", sans-serif;
    /* Font size & weight */
    font-size: 12px; /* 1rem = 16px */
    font-weight: 400;
    font-style: normal;
    color: var(--color-textColor);
    /* Line height & letter spacing */
    line-height: normal;
    letter-spacing: 0.5px;
  }
  .text-s {
    /* Font family */
    font-family: "Helvetica Now Display", sans-serif;
    /* Font size & weight */
    font-size: 14px; /* 1rem = 16px */
    font-weight: 400;
    font-style: normal;
    color: var(--color-textColor);
    /* Line height & letter spacing */
    line-height: normal;
    letter-spacing: 0.5px;
  }
  .text-m {
    /* Font family */
    font-family: "Helvetica Now Display", sans-serif;
    /* Font size & weight */
    font-size: 16px; /* 1rem = 16px */
    font-weight: 400;
    font-style: normal;
    color: var(--color-textColor);
    /* Line height & letter spacing */
    line-height: normal;
    letter-spacing: 0.5px;
  }

  .text-l {
    /* Font family */
    font-family: "Helvetica Now Display", sans-serif;
    /* Font size & weight */
    font-size: 18px; /* 1rem = 16px */
    font-weight: 400;
    font-style: normal;
    color: var(--color-textColor);
    /* Line height & letter spacing */
    line-height: normal;
    letter-spacing: 0.5px;
  }
}

/* Reset and base styles */
